/* jenis ukuran px, %, vw, vh, rem */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
    height: 12vh;
    background-color: salmon;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 60px 0 60px;
    font-family: "Arial";
}

.navbar h1 {
    font-size: 24px;
}

.nav-content {
    display: flex;
    gap: 20px;
}

.nav-content a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}


